@font-face {
  font-family: "Roboto-Regular";

  src: url(../assets/fonts/Roboto-Regular.woff2) format("woff2"),
       url(../assets/fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto-Medium";

  src: url(../assets/fonts/Roboto-Medium.woff2) format("woff2"),
       url(../assets/fonts/Roboto-Medium.woff) format("woff");
}

body {
  background-color:#d4d6d4;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 10px;
}

.navigation {
  display: grid;
  grid-template-columns: 5% auto 5%;
  justify-items: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}

.burger-menu, .ellipsis {
  cursor: pointer;
}

.burger-menu:hover, .ellipsis:hover {
  font-size: 30px;
}

.title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.title a {
  text-decoration: none;
  color: black;
  user-select: none;
}

.title a:hover {
  color: #0cafb7;
}

.main {
  max-width: 1400px;
  margin: 70px auto 0;
  background-color:#d4d6d4; /**/
  height: 540px;
  display:grid;
  justify-items: center;
  align-items: center;
  grid-column-gap: 30px;
  grid-template-areas: 
    "menu canvas"
    "palette canvas";
}

.tool-menu {
  width: 180px;
  display: flex;
  flex-direction: column;
  grid-area: menu;
}

.tool-menu > button {
 height: 30px;
 border: none;
 border-radius: 20px;
 background-color: #ffffff;
 margin-bottom: 10px;
 display: flex;
 font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
 font-size: 20px;
 align-items: center;
 outline: none;
 cursor: pointer;
 user-select: none;
}

.tool-menu > button:last-child {
  margin-bottom: 0;
}

.tool-menu > button > span:first-child {
  margin-left: 10px;
  margin-right: 15px;
  font-size: 15px;
} 

button:hover {
  background-color: #0cafb730;
}

button:hover > span:first-child {
  font-size: 20px;
}

.palette {
  width: 180px;
  grid-area: palette;
}

.current-color, .previous-color {
  display: flex;
  align-items: center;
}

.previous-color {
  margin-bottom: 20px;
  margin-top: 10px;
}

.current-color span, .previous-color span {
  font-size: 20px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  user-select: none;
}

.assigned-current-color, .assigned-previous-color {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #6a6c70;
  margin: 0 10px 0 0;
}

.assigned-current-color {
  background-color: #008000;
}

.predefined-colors {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
}

.predefined-colors div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.predefined-color-1 {
  background-color: #ff0000;
}

.predefined-color-2 {
  background-color: #ffff00;
}

.predefined-color-3 {
  background-color: #0000ff;
}

.predefined-color-4 {
  background-color: #ff00ff;
}

.predefined-color-5 {
  background-color: #ffffff;
}

.predefined-color-6 {
  background-color: #008080;
}

.predefined-color-7 {
  background-color: #008000;
}

.predefined-color-8 {
  background-color: #000000;
}

.canvas {
  display: flex;
  width: 540px;
  height: 540px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  grid-area: canvas;
}

.canvas div {
  width: 170px;
  height: 170px;
  background-color:  #6a6c70; 
}



/* */

.transformation {
  border-radius: 50%;
}

.tool-menu .selected-tool {
  background-color: #0cafb7;
}