@font-face {
  font-family: "Roboto-Regular";

  src: url(../assets/fonts/Roboto-Regular.woff2) format("woff2"),
       url(../assets/fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: "Roboto-Medium";

  src: url(../assets/fonts/Roboto-Medium.woff2) format("woff2"),
       url(../assets/fonts/Roboto-Medium.woff) format("woff");
}

body {
  background-color:#e5e6e8;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  max-width: 1400px;
  margin: 10px auto;
}

.navigation {
  display: grid;
  grid-template-columns: 5% auto 5%;
  justify-items: center;
  align-items: center;
  height: 50px;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}

.burger-menu, .ellipsis {
  cursor: pointer;
}

.burger-menu:hover, .ellipsis:hover {
  font-size: 30px;
}

.title {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.title a {
  text-decoration: none;
  color: black;
}

.title a:hover {
  color: #0cafb7;
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  background-color:#e5e6e8;
  height: 600px;
}

.tool-menu {
  width: 170px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.tool-menu button {
 height: 30px;
 border: none;
 border-radius: 20px;
 background-color: #ffffff;
 margin-bottom: 10px;
 display: flex;
 font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
 font-size: 20px;
 align-items: center;
}

.tool-menu button:last-child {
  margin-bottom: 0;
}

button > span:first-child {
  margin: 0 10px;
  font-size: 15px;
} 

button:hover {
  background-color: #0cafb730;
}

button:hover > span:first-child {
  font-size: 20px;
}